<style>
    .icon {
        width : 32px;
        height: 32px;
        margin: 0.5em;
    }

    a {
        color: darkblue;
    }

    #align-items {
        display: flex;
        align-content: center;
        align-items: center;
    }
</style>
<div class="resume-section-content">
    <div>
        <div>
            Antonin Lacomme
        </div>
        <span class="subheading mb-5">9, Avenue Saint Joseph, 06000, Nice</span>
    </div>
    
    <div><a href="mailto:antoninlacomme01@gmail.com">antoninlacomme01@gmail.com</a></div>
    <div>06 83 54 32 63</div>
    <div id="align-items">
        <span>
            <svg class="icon" aria-hidden="true" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
        </span>
        <span>
            <a href="https://github.com/AntoninLacomme" target="_blank">https://github.com/AntoninLacomme</a>
        </span>
    </div>

    <div>
        <p>
            Actuellement étudiant en M2 MBDS à la MIAGE de Sophia Antipolis, j'ai commencé mes études par un BTS Informatique à Nice.
            Désormais, je recherche un stage de fin d'année en développement NodeJS, Angular ou React.
        </p>
        <p>
            Durant mes études j'ai essentiellement travaillé en Java et en Javascript. J'ai également été formé à utiliser des systèmes de gestion de base de données tels qu'Oracle ou encore MongoDB.
        </p>
    </div>
</div>